@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{
    height: 100%;
}

.center{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

/* header */

header{
    border-bottom: 3px solid #EB2D2D;
}

.flex-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}   

.flex-header .logo{
    max-width: 208px;
}

.flex-header .logo img{
    width: 100%;
}

.flex-header .menu-desktop ul li{
    display: inline-block;
    padding: 40px 27px 0 30px;
}

.flex-header .menu-desktop ul li a{
    text-decoration: none;
    font-style: italic;
    color: black;
    font-size: 23px;

}

.flex-header .menu-desktop ul li a:hover{
    text-decoration: underline;
}

.flex-header .menu-mobile{
    display: none;
    width: 32px;
    background-image: url(../imagens/icon_menu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
    cursor: pointer;
}

.flex-header .menu-mobile ul{
    display: none;
    position: absolute;
    top: 125px;
    left: 0;
    text-align: center;
    background-color: white;
    width: 100%;
    z-index: 999;
    border-bottom: 5px solid #EB2D2D;

}

.flex-header .menu-mobile ul li{
    list-style-type: none;
    padding: 10px 0;
}

.flex-header .menu-mobile ul li a{
    text-decoration: none;
    font-style: italic;
    color: black;
    font-size: 23px;
}

/*********/


/* venda */

.venda{
    padding-top: 60px;
}

.flex-venda-destaque{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;

}
.flex-venda-destaque .linha{
    border-bottom: 2px solid black;
    width: 100%;

}
.flex-venda-destaque .titulo{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    background-color: white;
    position: relative;
    top: 20px;
    width: 100px;
}

.filtro-preco{
    max-width: 300px;
}

.filtro-preco h2{
    font-weight: normal;
}

.bar{
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.bar .complete{
    height: 100%;
    width: 30%;
    background-color: #ccc;
    border-radius: 20px;
}

.bar .complete .box{
    position: relative;
    width: 26px;
    height: 26px;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 8px;
    top: -3px;
    left: 70%;
}

.preco{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.filtro-ano{
    max-width: 300px;
    padding-top: 10px;
}

.filtro-ano h2{
    font-weight: normal;
}

.filtro-ano .radio{
    padding-top: 5px;
}


/*********/


/* footer */

footer{
    margin-top: 100px;
    background-color: #252525;
}

footer .center{
    max-width: 1400px;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.flex-footer .menu-footer ul li{
    display: inline-block;
    padding: 0 27px;
}

.flex-footer .menu-footer ul li a{
    text-decoration: none;
    font-style: italic;
    color: white;
    font-size: 20px;

}

.flex-footer p{
    font-style: italic;
    color: white;
    font-size: 20px;
}

/*********/


/* media queries */

@media screen and (max-width:768px){
    .flex-header .menu-desktop{
        display: none;
    }

    .flex-header .menu-mobile{
        display: block;
    }

    .flex-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flex-footer nav{
        display: none;
    }
}

/*********/